.dropdown {
  position: relative;
  display: block;
}

.dropdown span{
  font-weight: bold;
  cursor: pointer;
}

.dropdown span:hover{
  background-color: rgb(71, 225, 65);
  color: whitesmoke;
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-color: whitesmoke;
  min-width: 165px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  opacity: 0.9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px){
  .dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    display: block;
    position: absolute;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: whitesmoke;
    min-width: 165px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0.9;
  }

  .dropdown:hover, .dropdown-content {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown span{
    font-weight: bold;
    cursor: pointer;
  }
  
  .dropdown span:hover{
    background-color: rgb(71, 225, 65);
    color: whitesmoke;
    border-radius: 3px;
  }

}