.container{

}

.container h3{
display: flex;
justify-content: center;
align-items: center;
width: 30%;
background-color: green;
color: white;
margin-top: 3%;
margin-left: 33%;
border: 2px solid black;
border-radius: 3px;
padding: 8px 16px;
line-height: 15px;
}

.table td{
/* border-bottom: 1px solid black; */
}

@media screen and (max-width: 600px){
  .container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: green;
    color: white;
    margin-top: 3%;
    margin-left: 0%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 8px 16px;
    line-height: 15px;
    }

    .container{
      overflow-x: scroll;
    }
}